<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div padding:50px>
            <a href="/" role="button"><em class='bx bx-list-check bx-tada bx-rotate-90  bx-md'
                    style='color:#74e010'></em></a>

        </div>

        <div class="container-fluid">

            <a class="navbar-brand" href="/">MyTodo</a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"">About</a>
                    </li>
                   
               </ul>
                    <div padding:50px>
                    <a  href=" /" role="button"><em class='bx bx-list-check bx-tada bx-rotate-90  bx-md'
                                style='color:#74e010'></em></a>

            </div>



            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>


    <div class="text-center">
        <div class="col">
            <h2>What is Todoist ?</h2>
        </div>
        <div class="container">
             <p>Todoist is one of the most used to-do application in today’s
                market. It is packed with great features that enhance productivity, organize tasks, and set schedules as
                well as deadlines. The system separates itself from other similar products in the market, making it so
                popular by providing users with numerous amount of plugins and apps for browsers, emails, mobile
                devices, desktops, and laptops. </p>
        </div>
    </div>













    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{{url_for('static',filename='1.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Todolist</h5>
                    <p class="card-text">Todoist grew in popularity over the years and has evolved significantly
                        encompassing more powerful features. You can create, organize and prioritize tasks, create
                        subtasks and dependencies as well as create projects and subprojects.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{url_for('static',filename='4.jpeg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Todolist</h5>
                    <p class="card-text">Plus, with Todoist Karma, you get points for completing tasks, using advanced
                        features, and meeting productivity goals on a weekly and monthly basis. You can monitor your
                        progress through graphs with differently colored projects.</p>
                </div>
            </div>
        </div>
     
        <div class="col">
            <div class="card h-100">
                <img src="{{url_for('static',filename='3.jpeg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Todolist</h5>
                    <p class="card-text">Through Smart Schedule, the app suggests optimum dates for scheduling and
                        rescheduling existing tasks.</p>
                </div>
            </div>
        </div>
        
    </div>

    <br>


    <div class="card ">
    
        <div class="card-body">
          <h3 class="bold">Important Features</h3>
          <ul>
          <li>&#10004;<strong>User friendly task management.</strong></li>
            <li>&#10004;<strong>tasks in handy task lists.</strong></li>
            <li>&#10004;<strong>Smart home screen widgets show instantly what to do.  </strong></li>
            <li>&#10004;<strong>Adding tasks in Todolist.</strong></li>
            <li>&#10004;<strong>Update the tasks.</strong></li>
            <li>&#10004;<strong>Delete the tasks.</strong></li>
            <li>&#10004;<strong>Automatically assingn date and time. </strong></li>
          </ul> 
        </div>
        <div class="card-footer text-muted">
        
        </div>
      </div>



    

   




















    <footer class="bg-dark text-center text-white boo">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/imanish.kumar.3/"
                    role="button"><i class='bx bxl-facebook'></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/imanish1998"
                    role="button"><i class="bx bxl-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="bx bxl-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/imanish1998/?hl=en"
                    role="button"><i class='bx bxl-instagram'></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/manish-k-951800135/"
                    role="button"><i class="bx bxl-linkedin"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/manish1822510059"
                    role="button"><i class="bx bxl-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://notestoconnect.wordpress.com/">Notestoconnect.com</a>
        </div>
        <!-- Copyright -->
    </footer>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        -->

</body>

</html>