<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title> {% block title %}  {% endblock title %}  -MyTodo</title>
</head>

<body>
    
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div padding:50px>
            <a  href="/" role="button"
        ><em class='bx bx-list-check bx-tada bx-rotate-90  bx-md' style='color:#74e010' ></em></a>
          
           </div>

        <div class="container-fluid">
            
            <a class="navbar-brand" href="/">MyTodo</a>
            

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="/about"">About</a>
                    </li>
                   
               </ul>
                    <div padding:50px>
                    <a  href="/" role="button"
                ><em class='bx bx-list-check bx-tada bx-rotate-90  bx-md' style='color:#74e010' ></em></a>
                  
                   </div>
                
                
                
                <form class="d-flex" >
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    {% block body %}



        
    {% endblock body %}

</body>

</html>